body {
  padding: 15px;
  background-color: #6e3cbc;
  color: #b8e4f0;
}
.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 460px 350px;
}
.App > div:nth-child(2) > div {
  overflow: scroll;
  height: 400px;
  margin-top: 10px;
}
.App > div:nth-child(2) > div::-webkit-scrollbar {
  display: none;
}
